body {
    background-image: url("./image/bg_greenfelt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    font-size: 44px;
    text-shadow: 2px 2px 5px gold,0 0 20px red; 
    text-align: center;  
    font-family: 'Impact', sans-serif;
}

.dealer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dealer-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.dealercards {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 30vh; 
}

.dealerscore{
    border: #ff69b4 solid 1px;
    background-color: white;
    font-size:110%;
    padding: 15px 20px;
    width: 15px;
    height: 10px;
    float: right;
    margin-bottom: 5px;
    text-align: center;
    line-height: 10px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.playercards {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%; 
}

.playerscore{
    border: #ff69b4 solid 1px;
    background-color: white;
    font-size:110%;
    padding: 15px 20px;
    width: 15px;
    height: 10px;
    float: right;
    margin-bottom: 5px;
    text-align: center;
    line-height: 10px;
}

.button {
  background: linear-gradient(to bottom right, #ad9554, #fdf9da);
  border: 1;
  border-radius: 12px;
  color: black;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 0.5;
  outline: transparent;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  width: 7em;
  height:2.5em;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(189, 155, 0, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(189, 155, 0, 0.5)  , .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.hit-stand{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

#ok{
    margin: 0 auto;
}

.back{
    border: 1px solid black;
    border-radius: 8px;
}

.popup{
    display: none;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.200);
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
}

.outcome{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 35%;
}

.show-popup{
    display: flex;
    justify-content: center;
    align-items: center;
}